<html lang="fr">
  <head>
	<meta charset="utf-8">
	<title>{{ page.title }}  {{ site.title }} - {{ site.description }} </title>
	<meta name="author" content="{{ site.author }}">

  <script type="text/javascript" async="" src="//www.google-analytics.com/ga.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <meta name="description" content="Video mixer and low latency live streaming">
  <meta name="robots" content="noodp">
  <link rel="canonical" href="{{ site.url }}">
  <link rel="publisher" href="https://plus.google.com/u/0/+{{site.gplus_username}}">
  <meta property="og:locale" content="fr_FR">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Stream Studio - Video mixer and low latency live streaming">
  <meta property="og:description" content="Video mixer and low latency live streaming">
  <meta property="og:url" content="{{ site.url }}">
  <meta property="og:site_name" content="{{ site.title }}">
</head>
<body>
	<!-- Primary Page Layout
	================================================== -->
    <header id="header">
        <div class="container">
            <div class="sixteen columns">
				      <div class="menu-menu-principal-container">
                <div class="logo-header-container">
                  <a href="/"><img class="logo" src="{{ site.picture }}" /></a>
                  <a href="/" class="company-name">Stream Studio</a>
                </div>
                <div><i class="fa fa-envelope"> &nbsp;</i><a href="mailto:{{ site.email }}">{{ site.email }}</a>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-phone">&nbsp;&nbsp;</i><a href="tel:{{ site.phone }}">{{ site.phone }}</a></h3></div>
              </div>
            </div>
            <div class="sixteen columns tagline">
              <h1><a href="/">{{ site.headline1 }}</a></h1>
              <h2><a href="/">{{ site.headline2 }}</a></h2>

            </div>
        </div>
    </header>
